.gdrive-fs-ui {
    display: inline-block;
    font-size: 10pt;
    min-width: 600px;
    border: outset 2px silver;
    background-color: #eeeedd;
    margin: 5px 0;
    padding: 5px;
}
.pankuzu {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    min-width: 400px;
    border: inset 2px silver;
    margin: 5px;
    padding: 0 5px;
}
.pankuzu img {
    vertical-align: middle;
}
.filelist {
    list-style-type: none;
    list-style-position: inside;
    border: inset 2px silver;
    margin: 5px;
    padding: 5px;
}
.filelist .item {
    cursor: pointer;
}
.filelist .item.folder {
    color: gray;
    font-weight: bold;
}
.filelist .item.file {
}
.filelist .item.folder:hover,
.filelist .item.file:hover {
    color: blue;
    text-decoration: underline;
}
.filelist .item.empty {
    cursor: not-allowed;
}
.commandPanel > div > div {
    display: inline-block;
}
.commandPanel > div.command {
    border: solid silver 1px;
}
.commandPanel > div.command > div.name {
    width: 200px;
    background-color: #ffe;
}
.commandPanel > div.command > div.params {
    width: 210px;
    background-color: #fef;
}
.commandPanel > div.command > div.params > div.param > div {
    display: inline-block;
}
.commandPanel > div.command > div.params > div.param > div.name {
    text-align: right;
    width: 100px;
}
.commandPanel > div.command > div.params > div.param > div.input {
    width: 100px;
}
.commandPanel > div.command > div.params > div.param > div.input > input{
    width: 100px;
}
.commandPanel > div.command > div.button {
    width: 71px;
    background-color: #eff;
}
.commandPanel > div.command > div.button > button {
    width:70px;
};
.commandPanel > div.command > div.result {
    width: 300px;
    background-color: #fee;
}
